# Python bytecode
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environments
venv/
.venv/
env/
ENV/

# Django stuff
media/
staticfiles/

# VSCode and IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Secrets and environment files
.env
*.log
