# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo

# Virtual environment
venv/
ENV/
env/
.venv/

# Django static and media
/staticfiles/
/media/

# VSCode settings
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Git
*.swp
*.swo
*.orig

# dotenv
.env
